.primary-text {
  color: #f948b2;
}
.primary-text-size {
  font-size: 20px;
}
nav > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul > li {
  display: inline;
  margin-right: 20px;
}
nav ul > li > a {
  text-decoration: none;
}
.gamer-content {
  display: flex;
  align-items: center;
}
.gamer-content > samp {
  margin-left: 10px;
}

/* banner */
.banner {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.banner-img img {
  width: 400px;
}
.banner-left > h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #f948b2;
}
.banner-left > h3 {
  font-size: 30px;
  margin: 0;
}
.banner-text {
  font-size: 20px;
  margin-bottom: 40px;
}
.btn-sign {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 20px;
  color: #ffff;
  font-weight: 700;
  background-color: #f948b2;
}
.btn-rogue {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 20px;
  color: #ffff;
  font-weight: 700;
  background-color: #4ec5f7;
}
/* .players-content */
.players-content {
  margin-top: 80px;
  display: flex;
  justify-content: end;
  margin-right: 160px;
}
.players-content > img {
  width: 650px;
}
.players-content-right {
  text-align: right;
  width: 600px;
}
/* funny-video-content */
.funny-video-content {
  display: flex;
  justify-content: center;
}
figure {
  margin: 20px;
  margin-top: 60px;
}
figure > img {
  height: 300px;
}
figure > p {
  width: 250px;
}
.funny-text-content {
  margin-top: 40px;
  text-align: center;
}
.funny-text-content > h1 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0;
}
/* Instantly-content */
.instantly-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.instantly {
  width: 500px;
  height: 600px;
  background-image: url(/images/Rectangle55.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.instantly-content-left {
  text-align: right;
  width: 400px;
}
.instantly-content-left > h1 {
  margin-bottom: 0;
  font-size: 30px;
}
.instantly-content-left > p {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}
.instantly > img {
  position: relative;
  height: 250px;
  top: 353px;
  right: 103px;
}
